@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --total-width: 825px;
}

body {
    background: #f2f2f2;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    background: #1b1b1b;
    box-shadow: 5px 5px 4px #3d3c3c;
    /* min-width: 1200px; */
    min-width: var(--total-width);
}

button,
select {
    color: white;
    background-color: #1b1b1b;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    /* padding: 8px 15px; */
}

button:focus,
select:focus {
    outline: none;
}

button:disabled {
    color: #ddd;
}

nav:after {
    content: "";
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav .logo span {
    color: #66ffff;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

.mobile-logo {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        background-color: #1b1b1b;
        /* min-width: 1200px; */
        min-width: var(--total-width);
        text-align: center;
        border: none;
        outline: none;
    }
    .mobile-logo span {
        color: #66ffff;
    }
    .container {
        /* min-width: 1200px; */
        min-width: var(--total-width);
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        font-size: 10px;
        padding: 8px 8px;
    }
}


/*
NavBar completed
*/

.heading {
    line-height: 80px;
}

.tutorial-btn {
    position: relative;
    top: -5px;
}

.notations {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notation {
    margin-right: 30px;
    text-align: center;
}

.notation-text {
    display: inline;
    margin-left: 5px;
    top: -5px;
    position: relative;
}

.notation-checkbox {
    display: inline;
    margin: 3px 10px;
}

.mr-50 {
    margin-right: 50px;
}

.container {
    margin: 5px auto;
    text-align: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.btn-primary {
    background-color: #0096fe;
    font-weight: 600;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: larger;
}

.btn-hover:hover {
    transform: scale(1.3);
}

.btn-dark {
    background-color: #394043;
    font-weight: 600;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: larger;
}

.btn-danger {
    background-color: #fe4a49;
    font-weight: 600;
    /* background-color: #ff4d00; */
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: larger;
}

.btn-start {
    background-color: #ffc60b;
    font-weight: 600;
    /* background-color: #ff4d00; */
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: larger;
}


/*
Tutorial
*/

.blackish {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    min-width: var(--total-width);
}

.tutorial-container {
    background-color: #fff;
    margin: 5px auto;
    width: 700px;
    padding: 30px 22px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 13%;
    left: 30%;
    position: absolute;
    /* position: fixed; */
}

@media only screen and (max-width: 900px) {
    .tutorial-container {
        top: 17%;
        left: 40px;
    }
    .blackish {
        max-width: var(--total-width);
    }
    /* body {
        max-width: var(--total-width);
    } */
}

.tutorial-content {
    text-align: center;
}

.tutorial-content img {
    max-width: 500px;
}

.tutorial-active {
    display: flex;
}

.tutorial-body-active {
    pointer-events: none;
    /* opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); */
}

.tutorial-header {
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    width: 650px;
}

.tutorial-header sup {
    font-size: 1.2rem;
    top: -15px;
    left: 10px;
    position: relative;
    font-weight: 600;
    float: right;
}

#tutorial-img {
    text-align: center;
}

.tutorial-btns {
    display: flex;
    justify-content: space-between;
}