<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="../css/styles.css">
     <link rel="icon" href="../img/logo.png" />
     <link rel="stylesheet" href="../css/sortingStyles.css" />
     <title>Encryption Algorithms</title>
</head>

<body>
     <nav>
          <div class='logo'><a href='../index.html'>Encryption <span>Algorithms</span></a></div>

          <label for='btn' class='icon'>
               <span class='fa fa-bars'></span>
          </label>
          <input type='checkbox' id='btn' style="display: none;">

          <ul>
               <li><a href='../index.html'>Home</a></li>
               <li><a href='#'>Vigenere</a></li>
               <li><a href='#'>Playfair</a></li>
               <li><a href='#'>Hill</a></li>
          </ul>
     </nav>

</body>

</html>


<!-- 
     Vigenere Cipher Encryption with steps
     Playfair Cipher Encryption with steps
     Hill Cipher Encryption with steps
 -->