<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/pathfinding.css" />
    <link rel="icon" href="../img/logo.png" />
    <title>Pathfinding Visualization</title>
</head>

<body>

    <nav>
        <div class="mobile-logo">
            <br>
            <h1><a href="../index.html">Algo<span>Visualization</span></a></h1>
        </div>
        <div class="logo">
            <a href="../index.html">Algo<span>Visualization</span></a>
        </div>

        <ul>
            <li>
                <a href="#">
                    <select name="algo" id="algo" onchange="algoChange()">
                        <option value="" disabled selected>Choose Algorithm</option>
                        <option value=" bfs">
                            BREADTH FIRST SEARCH
                        </option>
                        <option value="dfs">
                            DEPTH FIRST SEARCH
                        </option>
                        <option value="astar">A STAR</option>
                        <option value="dijkstra">DIJKSTRA</option>
                        <option value="bidir">BIDIRECTIONAL</option>
                    </select>
                </a>
            </li>
            <li>
                <a href="#"><button id="visualize" style="color: aqua">
                        VISUALIZE
                    </button></a>
            </li>

            <li>
                <a href="#"><button id="rectangular-maze">
                        BUILT MAZE
                    </button></a>
            </li>

            <li>
                <a href="#"><button id="random-maze">
                        RANDOM WALL MAZE
                    </button></a>
            </li>

            <li>
                <a href="#"><button id="clear">CLEAR PATH</button></a>
            </li>

            <li>
                <a href="#"><button id="reset" style="color: red">
                        RESET
                    </button></a>
            </li>
        </ul>
    </nav>
    <br />

    <h1 class="container">
        <i class="fas fa-wave-square"></i> Pathfinding Algorithms
    </h1>


    <br />
    <div class="container">
        <canvas id="main-canvas" width="1200" height="501"></canvas>
    </div>

    <script src="../js/pathfinding/utils.js"></script>
    <script src="../js/pathfinding/sketch.js"></script>
    <script src="../js/pathfinding/classes/board.js"></script>
    <script src="../js/pathfinding/maze/randomMaze.js"></script>
    <script src="../js/pathfinding/maze/recursiveDivision.js"></script>
    <script src="../js/pathfinding/init.js"></script>

    <!-- <script src="../js/pathfinding/classes/cell.js"></script> -->
</body>

</html>